@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OnBoard.com</h1>
    <p>At OnBoard.com, we're dedicated to simplifying your travel experience. With a passion for seamless flight bookings we strive to make your journey as enjoyable as the destinations your're headed to. </p>
</div>
